.App {

}

.product-title {

}

.product-content-container {
    margin-left: 15rem;
    padding: 4rem;
}

.chart-canvas {

}

.loading {
    text-align: center;
}

.footwrapper {
    margin-top: 50px;
    display: flex;
}

.foot-left {
    flex: 0 0 35%;
}

.foot-right {
    flex: 1;
}

.foot-right--list {
    overflow: scroll;
    height: 200px;
}

.slider-legend {
    text-align: center;
    margin-top: -10px;
}